body .content {
    background-color: #fff;
    color: #525354
}

.search {
    text-align: center;
    padding: 25px 0;
}

input {
    width: 40%;
    padding-left: 10px;
}

main {
    width: 85%;
    margin: auto;
}

.flex-container {
    height: 700px;
    width: 916px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
}


